/* General_styles */

@font-face {
    font-family: 'Fixedsys62';
    src: url('Fixedsys62.ttf') format('truetype');
}

a{
    text-decoration: none;
    color: rgba(250, 250, 250, 0.64);
}

h1{
    font-size: 72px;
}

h2{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 0;
}

h5{
    margin: 40px auto 0px 96px;
    font-size: 16px;
    color: #ffffff;
}

.btn{
    width: 192px;
    height: 56px;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 24px;
}

.img_bx{
    margin: 64px 40px auto 96px;
    min-width: 480px;
    height: 480px;
}

.txt_bx{
    width: 680px;
    height: 234px;
    margin-top: 187px;
}

.slideshow_1, .slideshow_2{
    margin-left: 96px;
    height: 72px;
    width: 1200px;
    overflow: hidden;
  }

/* Container */
.container{
    background-color: #0009AF;
    font-family:'Fixedsys62';
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header_section */

header{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 1392px;
    height: 64px;
    justify-content: space-around;
}

nav .main_nav:last-child{
    width: 192px;
}

.main_nav{
    width: 232px;
    height: 16px;
    margin-top: 28px;
}

.main_nav a:first-child{
    padding-right: 30px;
}

.logo{
    color: #ffffff;
    font-size: 32px;
    margin: 16px 0px;
}

/* hero_section */
.hero_section{
    width:1392px;
    height: 722px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_text{
    text-align: center;
    width: 1200px;
    height: 144px;
    color: #ffffff;
    margin: 264px 0 0 0;
}

.hero_subtext{
    text-align: center;
    margin: 30px 0 0 0;
    color: rgba(250, 250, 250, 0.64);
    width: 1200px;
}

.main_cta{
    background-color: #ffffff;
    color: #0009AF;
    margin-top: 80px;
}

/* Second_section */

.section2{
    width: 1392px;
    height: 548px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2_heading{
    width: 1200px;
    text-align: center;
    margin-top: 120px;
}

.section2_subtext{
    text-align: center;
    width: 1200px;
    color: rgba(250, 250, 250, 0.64);
    margin: 24px 0 0 0;
}

.secondary_cta{
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top: 40px;
}

/* Third_section */
.section3{
    width: 1392px;
    height: 720px;
    margin-top: 40px;
}

.card-container{
    position: relative;
    height: 480px;
    overflow-y: hidden;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: slideUp 5s linear infinite;
}

.card-1-container {
    animation: slideUp 5s linear infinite;
    animation-delay: 2s;
}

.card-2-container {
    animation: slideUp 5s linear infinite;
    animation-delay: 4s;
}

.card-3-container {
    animation: slideUp 5s linear infinite;
    animation-delay: 6s;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
  100% {
transform: translateY(-100%);
}
}


.card_title{
    margin-top: 0px;
}

.card_p{
    margin: 34px 0 0 0;
    color: rgba(250, 250, 250, 0.64);
}

/* Services_section */
.services{
    width: 1392px;
    height:424px;
    margin-top: 40px;
}

  @-webkit-keyframes list {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes list {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  @-webkit-keyframes reverse {
    0% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes reverse {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
      100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
  }

  .slideshow_1 {
    margin-top: 64px;
  }

  .slideshow_2{
    margin-top: 40px;
  }
  .slideshow_1 .list, .slideshow_2 .reverse {
    padding-left: 100%;
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  .slideshow_1 .list:hover,
  .slideshow_2 .reverse:hover{
        animation-play-state: paused;
  }

  .slideshow_1 .list{
    -webkit-animation-name: list;
    animation-name: list;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
  }

  .slideshow_2 .reverse{
    -webkit-animation-name: reverse;
    animation-name: reverse;
    -webkit-animation-duration: 18s;
    animation-duration: 18s;
  }
  .slideshow_1 .list .list_item,
  .slideshow_2 .reverse .list_item {
    display: inline;
  }